@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v12/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNorqSiNI.ttf) format('truetype');
}
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v12/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNooNTSNI.ttf) format('truetype');
}
html {
  font-family: 'Kumbh Sans';
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(185, 75%, 39%);
}
h1 {
  margin: 0.5rem 0;
  font-weight: 700;
}
h2 {
  margin: 0.5rem 0;
  font-size: 1.125rem;
  font-weight: 700;
}
p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: hsl(0, 0%, 59%);
}
.card {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-width: 22.5rem;
  width: auto;
  max-height: 22.5rem;
  border-radius: 1rem;
  overflow: hidden;
  background-image: url(images/bg-pattern-card.svg);
  box-shadow: 6px 8px 100px 10px rgba(0, 0, 0, 0.1);
}
.card span {
  margin-left: 0.5rem;
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}
.card-img {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  grid-area: 1 / 1 / 3 / 2;
}
.card-img img {
  border-style: solid;
  border-color: white;
  border-width: 0.4rem;
  border-radius: 50%;
}
.card-caption {
  padding-top: 4rem;
  text-align: center;
  background-color: white;
  grid-area: 2 / 1 / 3 / 2;
}
.card-stats {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
  border-top: thin solid hsl(0, 0%, 59%);
  padding: 1rem 1.5rem;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.stats h1 {
  margin-bottom: 0.25rem;
}
.stats p {
  margin-top: 0;
  letter-spacing: 0.1rem;
  font-size: 0.625rem;
}
.background-img-top,
.background-img-bottom {
  z-index: 1;
  position: fixed;
}
.background-img-top {
  bottom: 50%;
  right: 50%;
}
.background-img-bottom {
  top: 50%;
  left: 50%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution p {
  color: white;
}
.attribution a {
  text-decoration: none;
  color: white;
}
.attribution a:hover {
  text-decoration: underline;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
